@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.parallax-window {
  min-height: 50vw;
  background: transparent;
  display: flex;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background: #fafbfd;
}

.your-class {
  width: 60vw;
  margin: 0 auto;
}
.your-class div {
  width: 100%;
}
.bg-image {
  background: #fff;
  height: 150px;
  font-size: 1.5rem;
  display: block !important;
}

.card {
  margin: 0 10px;
  width: 18rem;
  border-radius: 15px !important;
}
.card div:hover,
.card-body:hover {
  background: #004779;
  color: #fff !important;
  border-radius: 15px;
}

.card-body {
  padding-bottom: 20px !important;
  position: relative;
  color: #232323;
  background: #fff;
  font-size: 18px;
  border-radius: 15px;
}

.card img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #fff;
  border: 10px solid #fff;
  width: 64px;
  position: relative;
  color: #004779;
  bottom: 45px;
}
.card-title {
  /* color: #004779; */
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
}

.form {
  display: flex;
  padding-top: 20px;
  flex-direction: row;
}
.form-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.form-area {
  width: 100%;
}

.form-input {
  display: block;
  margin: 0 20px;
  padding: 10px;
  width: 90% !important;
  margin-bottom: 20px;
  outline: none;
  border: none;
}

.svg-logo {
  filter: invert(1);
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  display: none;
  color: white;
  z-index: 3;
  padding: 5px 10px;
  border-radius: 100px !important;
}

.bg-darkBlue {
  background: #004779;
}
.text-darkBlue {
  color: #004779;
}

.btn-primary {
  background: #004779 !important;
  color: white !important;
  border-radius: 40px;
}

li[role="presentation"] {
  border-radius: 50%;
  background: #ccc;
  /* opacity: 0.5; */
}
.slick-active {
  background: #004779 !important;
}
.intl-tel-input {
  width: 100%;
}

.slick-dots li button {
  padding: 1rem !important;
  margin: 1px;
}

.slick-prev:hover,
.slick-next:hover {
  opacity: 0.5;
}

.slick-next {
  padding-bottom: 28px;
  font-size: 1rem;
}
.slick-prev {
  padding-bottom: 28px;
  font-size: 1rem;
}

.your-class div span {
  font-style: normal;
  width: 90%;
  display: block;
  color: #004779;
  text-align: end !important;
}
.slick-slide {
  opacity: 0;
}
.slick-current {
  opacity: 1 !important;
}

.slick-prev:before {
  content: url("/images/chevron-circle-left-solid.svg");
  margin: 0;
}

.slick-next:before {
  content: url("/images/chevron-circle-right-solid.svg");
  margin: 0;
}
.your-class div p {
  font-style: italic;
  text-align: start;
  width: 100%;
}

.iti_flag {
  background-image: url("./assets/intTellInput/intl-tel-input-17.0.0/build/img/flags.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("./assets/intTellInput/intl-tel-input-17.0.0/build/img/flags@2x.png");
  }
}

.img-brand {
  opacity: 0.5;
}
.img-brand:hover {
  opacity: 1;
}

.app-background {
  max-height: 400px;
  min-height: 300px;
  background-image: url("../images/app.jpg") !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
  background: #caeaf9;
}

.service-background {
  max-height: 400px;
  min-height: 300px;
  background-image: url("../images/services.jpg") !important;
  background-repeat: no-repeat !important;
  background-position: right !important;
  background: #fcfcfc;
}
.circle-wellness {
  width: 500px;
}
.service-img {
  height: 300px;
  width: 400px !important;
}
.home_banner {
  width: 50%;
}

@media (max-width: 420px) {
  .circle-wellness {
    width: 310px;
  }
  .your-class {
    width: 100%;
  }
  .form {
    display: flex;
    flex-direction: column;
  }
  .form-body {
    display: flex;
    flex-direction: column;
  }
  .form-input {
    width: 100%;
  }
  .home_banner {
    width: 100%;
  }
  .slick-next::before {
    display: none;
  }
  .slick-prev::before {
    display: none;
  }
}
