<%- include("partials/header") %>
    <%- include("partials/navbar") %>

        <div class="d-flex align-items-center app-background">
            <div class=" w-50 text-start ms-lg-5 ps-lg-3 ms-3">
                <h1 class="text-darkBlue fw-bold   display-4 mb-3">App</h1>
                <p class="text-darkBlue fs-3 fw-bold fw-lg-normal ">Where healthcare meets technology</p>
            </div>
        </div>
        <div class="container m-lg-5 p-4 d-flex flex-column flex-lg-row">
            <div class="fs-4 text-muted order-1">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vitae, voluptatibus. Culpa beatae placeat
                    neque
                    ea nobis nemo quisquam amet totam?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi asperiores iste blanditiis tempore
                    suscipit eius quod eligendi rerum aliquid doloremque! Molestiae harum enim quaerat laudantium quia
                    rem
                    aliquam odit quibusdam!</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, perferendis!</p>
                <div class="my-4 my-lg-3">
                    <img src="/images/android-store.png" width="200" class="me-2 mb-3 " />
                    <img src="/images/ios-store.png" width="200" class="mb-3" />
                </div>
            </div>
            <div class="order-lg-1">
                <img src="/images/app2.svg" width="350" class="pt-lg-5" />
            </div>
        </div>
        <%- include("partials/footer") %>