<%- include("partials/header") %>
    <%- include("partials/navbar") %>

        <div class="d-flex align-items-center service-background" data-parallax="scroll">
            <h1 class="text-darkBlue fw-bold text-center w-25 display-4 ms-3 ms-lg-0">Services</h1>
        </div>
        <div class="container d-flex flex-column mt-5">
            <div class="d-flex flex-lg-row mx-auto flex-column ">
                <img src="/images/individual.svg" class="d-block service-img" alt="network-img" />
                <div class=" text-darkBlue  p-lg-5 p-2">
                    <h2 class=" fw-bold">NETWORKING</h2>
                    <p class="fs-4">We help you find the best healthcare provider</p>
                    <button class="btn btn-block bg-darkBlue text-light rounded-pill">
                        Learn More
                    </button>
                </div>
            </div>
            <div class="row mx-auto">

                <div class=" col-lg-6 col-12 py-5 text-darkBlue order-2">
                    <h2 class=" fw-bold">CORPORATE</h2>
                    <p class="fs-4 ">We help you find the best healthcare provider</p>
                    <button class="btn btn-block bg-darkBlue text-light rounded-pill">
                        Learn More
                    </button>
                </div>
                <img src="/images/app1.svg" class="col-lg-6 col-12 order-1 order-lg-2 service-img"
                    alt="corporate-img" />
            </div>
            <div class="d-flex flex-lg-row flex-column mx-auto">
                <img src="/images/app2.svg" class="d-block service-img" alt="doctor-img" />
                <div class=" text-darkBlue p-lg-5 p-3">
                    <h2 class=" fw-bold">DOCTORS</h2>
                    <p class="fs-4 ">We help you find the best healthcare provider</p>
                    <button class="btn btn-block bg-darkBlue text-light rounded-pill">
                        Learn More
                    </button>
                </div>
            </div>
            <div class="row mx-auto">

                <div class=" col-lg-6 col-12 py-5 text-darkBlue order-2 ">
                    <h2 class=" fw-bold">INDIVIDUAL</h2>
                    <p class="fs-4 ">We help you find the best healthcare provider</p>
                    <button class="btn btn-block bg-darkBlue text-light rounded-pill">
                        Learn More
                    </button>
                </div>
                <img src="/images/individual.svg" class="col-lg-6 col-12 order-1 order-lg-2 service-img"
                    alt="individual-img" />
            </div>
        </div>

        <%- include("partials/footer") %>