/** @format */
$green: rgb(103, 195, 0);
$greenTransparent: rgba(103, 195, 0, 0.8);
$blue: rgb(0, 126, 255);
$blueTransparent: rgba(0, 126, 255, 0.65);
$HoverColor: rgba(0, 0, 0, 0.7);
$navbarColor: #3a3732;
