<!-- @format -->

<div class="row navbar">
  <div class="col-12 col-xl-4 col-lg-4 col-md-12 headerLogo">
    <a class="navbar-brand" href="#">
      <img src="images/logo.svg" />
    </a>
  </div>
  <div class="col-12 col-xl-4 col-lg-4 col-md-12 headerText">
    <h4>Where talent meets enterprise</h4>
  </div>
  <div class="col-12 col-xl-4 col-lg-4 col-md-12 headerText2">
    <span>+91 123456780 | contact@omnicareers.com</span>
  </div>
</div>
